{% include "layouts/header.html" %}

    <div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{% url '/' %}">Inicio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'grupos/index' %}">Listado de Grupos</a>
        </li>
    </ul>
</div>
	<div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-green-meadow">
                <i class="fa fa-users font-green-meadow"></i>
                <span class="caption-subject bold uppercase">Listado de Grupos</span>
            </div>
        </div>
        <div class="portlet-body form">
        	{% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <a href="{% url 'grupos/create' %}" class="btn btn-info"><i class="fa fa-plus"></i> Crear Grupo</a>
            <br>
            <br>
           	<table class="table table-striped table-bordered table-hover" id="tablita_clientes">
                <thead>
                	<tr>
                		<td>Id</td>
                        <td>Nombre</td>
                		<td>Acciones</td>
                	</tr>
                </thead>
                <tbody>
					
                </tbody>
			</table>
		</div>
	</div>

{% include "layouts/footer.html" %}
{% block javascript %}
	<script type="text/javascript">
        $( document ).ready(function() {
            if (typeof table !== 'undefined') {
                table = $('#tablita_clientes').DataTable();
                table.destroy();
            }
            table = $('#tablita_clientes').DataTable({
                "ajax": "{% url 'grupos/listado' %}",
                "columns": [
                    {
                        "data": null,
                        title: 'Id',
                        render: function(data, type, row) {
                            return data.id;
                        }
                    },
                    {
                        "data": null,
                        title: 'Nombre',
                        render: function(data, type, row) {
                            return data.nombre;
                        }
                    },
                    {
                        "data": null,
                        title: "Acciones",
                        render: function(data, type, row) {
                            return '<a href="view/' + data.id + '" title="Ver"> <i class="fa fa-eye"></i> </a><a href="update/' + data.id + '" title="Editar"> <i class="fa fa-pencil"></i> </a>';
                        }
                    },
                    
                ],
                "language": {
                    "lengthMenu": "Desplegando _MENU_ elementos por página",
                    "zeroRecords": "Lo sentimos - No se han encontrado elementos",
                    "sInfo":  "Mostrando registros del _START_ al _END_ de un total de _TOTAL_  registros",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(Filtrado de _MAX_ registros totales)",
                    "search": "Buscar Texto: _INPUT_",
                    "paginate": {
                        "previous": "Página previa",
                        "next": "Siguiente página"
                      }
                },
            });
        });   
    </script>
{% endblock javascript %}