{% include "layouts/header.html" %}
{% load humanize %}
{% load index %}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{% url '/' %}">Inicio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'grupos/index' %}">Listado de Grupos</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'grupos/view' id=model.id %}">Grupo: {{ model.nombre }}</a>
        </li>
    </ul>
</div>
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-user font-green-meadow"></i>
            <span class="caption-subject font-green-meadow bold uppercase">Datos de: {{ model.nombre }}</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="panel-body">

        	{% if messages %}
        	    {% for message in messages %}
        	        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        	    {% endfor %}
        	{% endif %}
            <a href="{% url 'grupos/agregarcliente' id=model.id %}" class="btn btn-info"><i class="fa fa-plus"></i> Agregar Cliente al Grupo</a>
            <br><br>
            <div class="col-md-12 form-body">
                <div class="portlet-title">
                    <div class="caption font-grey-salsa">
                        <i class="fa fa-user font-green-meadow"></i>
                        <span class="caption-subject font-green-meadow bold uppercase">Información del Grupo</span>
                        
                    </div>
                </div>
            </div>
            <br><br>
            <table class="table table-striped table-bordered table-condensed table-hover">
                <tbody>
                    <tr>
                        <td class="active font-blue-ebonyclay text-center bold" width="25%"> Id Grupo </td>
                        <td class="font-blue-ebonyclay text-center" width="25%">{{ model.id }}</td>
                        <td class="active font-blue-ebonyclay text-center bold" width="25%"> Nombre de Grupo </td>
                        <td class="font-blue-ebonyclay text-center" width="25%">{{ model.nombre }}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>

{% if miembros_list %}
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-user font-green-meadow"></i>
                <span class="caption-subject font-green-meadow bold uppercase">Miembros del grupo: {{ model.nombre }}</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="panel-body">
                <a href="{% url 'grupos/agregarcliente' id=model.id %}" class="btn btn-info"><i class="fa fa-plus"></i> Agregar Cliente al Grupo</a>
                <br>
                <br>
                <table class="table table-striped table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="font-blue-ebonyclay text-center">Id Cliente</th>
                            <th class="active font-blue-ebonyclay text-center bold">Nombre Cliente</th>
                            <th class="font-blue-ebonyclay text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for value in miembros_list %}
                            <tr>
                                <td class="font-blue-ebonyclay text-center" width="33%">{{ miembros_list_id|index:forloop.counter }}</td>
                                <td class="active font-blue-ebonyclay text-center bold" width="33%">{{ value }}</td>
                                <td class="font-blue-ebonyclay text-center" width="33%"><a href=" {% url 'grupos/eliminacliente' id=model.id id_cliente=miembros_list_id|index:forloop.counter %}" title="Eliminar"><i class="fa fa-trash"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
{% endif %}

{% if cuentas %}
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-bank font-green-meadow"></i>
                <span class="caption-subject font-green-meadow bold uppercase">Cuentas del grupo: {{ model.nombre }}</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="panel-body">
                <table class="table table-striped table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="font-blue-ebonyclay text-center">Id Cuenta</th>
                            <th class="active font-blue-ebonyclay text-center bold">Estatus</th>
                            <th class="font-blue-ebonyclay text-center">Monto</th>
                            <th class="active font-blue-ebonyclay text-center bold">Saldo</th>
                            <th class="font-blue-ebonyclay text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for value in cuentas %}
                            <tr>
                                <td class="font-blue-ebonyclay text-center" width="25%">{{ value.id }}</td>
                                <td class="active font-blue-ebonyclay text-center bold" width="25%">{{ value.estatus }}</td>
                                <td class="font-blue-ebonyclay text-center" width="25%">{{ value.monto }}</td>
                                <td class="active font-blue-ebonyclay text-center bold" width="25%">{{ value.saldo }}</td>
                                <td class="font-blue-ebonyclay text-center" width="25%"><a href="{% url 'cuentas/view' id=value.id %}"><i class="fa fa-eye" title="Ver"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
{% endif %}

{% include "layouts/footer.html" %}