{% load static %}
<!DOCTYPE html>
<html lang="">
<head>
    {% include "head.html" %}
</head>
    <div class="page-wrapper">
        <div class="page-wrapper-row">
            <div class="page-wrapper-top">
                <!-- BEGIN HEADER -->
                <!DOCTYPE html>
                    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
                        <!-- BEGIN HEADER -->
                        <div class="page-header navbar navbar-fixed-top">
                            <!-- BEGIN HEADER INNER -->
                            <div class="page-header-inner ">
                                <!-- BEGIN LOGO -->
                                <div class="page-logo">
                                    <!-- <a href="/">
                                    <div>

                                        <?=
                                            \Collective\Html\HtmlFacade::image('images/logo.png', 'Mi Banco',[
                                                'height' => '60%',
                                                'width' => '80%',
                                                'class' => 'logo-default'
                                            ])
                                        ?></a>
                                    </div> -->
                                    <!-- <div class="menu-toggler sidebar-toggler">
                                        DOC: Remove the above "hide" to enable the sidebar toggler button on header
                                    </div> -->
                                </div>
                                <!-- END LOGO -->
                                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                                <!-- END RESPONSIVE MENU TOGGLER -->
                                <!-- BEGIN PAGE ACTIONS -->
                                <!-- DOC: Remove "hide" class to enable the page header actions -->
                                <!-- END PAGE ACTIONS -->
                                <!-- BEGIN PAGE TOP -->
                                <div class="page-top">
                                    <!-- BEGIN HEADER SEARCH BOX -->
                                    <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->

                                    <!-- END HEADER SEARCH BOX -->
                                    <!-- BEGIN TOP NAVIGATION MENU -->
                                    <div class="top-menu">
                                        <ul class="nav navbar-nav pull-right">
                                            <li class="dropdown dropdown-user">
                                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                    <span class="username username-hide-on-mobile"> <?= \Auth::user()->email ?> </span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-default">
                                                    <li>
                                                        <a  href="logout"
                                                       onclick="event.preventDefault();
                                                                     document.getElementById('logout-form').submit();">
                                                        <i class="icon-key"></i>Cerrar Sesión</a>
                                                        </a>
                                                    </li>
                                                    <form id="logout-form" action="logout" method="POST" style="display: none;">
                                                        @csrf
                                                    </form>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                        <!-- END HEADER & CONTENT DIVIDER -->
                        <!-- BEGIN CONTAINER -->
                        <div class="page-container">
                            <!-- BEGIN SIDEBAR -->
                            <div class="page-sidebar-wrapper">

                                <div class="page-sidebar navbar-collapse collapse">
                                    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                                        <li class="nav-item  ">
                                            <a href="javascript:;" class="nav-link nav-toggle">
                                                <i class="fa fa-cog"></i>
                                                <span class="title">Administración</span>
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li class="nav-item  ">
                                                    <a href="users/index" class="nav-link ">
                                                        <span class="title">Usuarios</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <!-- END SIDEBAR MENU -->
                                </div>
                                <!-- END SIDEBAR -->
                            </div>
                            <!-- END SIDEBAR -->
                            <!-- BEGIN CONTENT -->
                            <div class="page-content-wrapper">
                                <!-- BEGIN CONTENT BODY -->
                                <div class="page-content">
                                    