{% load static %}
                    <div class="modal fade" id="remoteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div align="center">
                                <img src="{% static 'images/pasted-svg-182292x56.svg' %}" height="60px" class="logo-default" alt="Podemos">
                            </div>
                            <div align="center">
                                <h3 class="font-white">Favor de no cerrar esta ventana mientras se ejecuta el proceso</h3>
                            </div>
                            <div align="center">
                                <img src="{% static 'images/Loading_icon.gif' %}" class="logo-default" alt="Podemos">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->

            <!-- END QUICK SIDEBAR -->
        </div>
    
                <!-- END HEADER -->
            </div>
        </div>
        <div class="page-wrapper-row">
            <!-- BEGIN FOOTER -->
    <!-- BEGIN INNER FOOTER -->
    <div class="page-footer">
        <div class="container font-green-meadow"> Sistema Podemos®
            Financiera Podemos Progresar.
            Todos los Derechos Reservados
        </div>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
    <!-- END INNER FOOTER -->
    <!-- END FOOTER -->
        </div>
    </div>
    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <script src="../assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="{% static 'metronic/assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{% static 'metronic/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/jquery-file-upload/js/vendor/tmpl.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/jquery-file-upload/js/vendor/load-image.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/jquery-file-upload/blueimp-gallery/jquery.blueimp-gallery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-process.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-image.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-audio.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-video.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-validate.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-ui.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="{% static 'metronic/assets/global/plugins/ladda/spin.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/ladda/ladda.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'metronic/assets/apps/scripts/inbox.min.js' %}" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="{% static 'metronic/assets/layouts/layout2/scripts/layout.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/layouts/layout2/scripts/demo.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/layouts/global/scripts/quick-nav.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'metronic/assets/pages/scripts/ui-buttons-spinners.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'metronic/assets/global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>

    <script src="{% static 'metronic/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/clockface/js/clockface.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/pages/scripts/components-date-time-pickers.min.js' %}" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
    <script src="{% static 'metronic/assets/global/plugins/jquery-validation/js/jquery.validate.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/scripts/datatable.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/pages/scripts/table-datatables-managed.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'metronic/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js' %}" type="text/javascript"></script>
    {% block javascript %}

    {% endblock %}

</body></html>