{% include "layouts/header.html" %}
{% load humanize %}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{% url '/' %}">Inicio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'cuentas/index' %}">Listado de Cuentas</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'cuentas/view' id=model.id %}">Cuenta: {{ model.id }}</a>
        </li>
    </ul>
</div>
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-bank font-green-meadow"></i>
            <span class="caption-subject font-green-meadow bold uppercase">Datos de la cuenta: {{ model.id }}</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="panel-body">
        	{% if messages %}
        	    {% for message in messages %}
        	        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        	    {% endfor %}
        	{% endif %}
            <a href="{% url 'transacciones/create' id=model.id %}" class="btn btn-info"><i class="fa fa-dollar"></i> Agregar Pago</a>

            <br><br>
            <table class="table table-striped table-bordered table-condensed table-hover">
                <tbody>
                    <tr>
                        <td class="active font-blue-ebonyclay text-center bold" width="25%"> Id Cuenta </td>
                        <td class="font-blue-ebonyclay text-center" width="25%">{{ model.id }}</td>
                        <td class="active font-blue-ebonyclay text-center bold" width="25%"> Grupo al que pertenece </td>
                        <td class="font-blue-ebonyclay text-center" width="25%">{{ model.grupo_id }}</td>
                    </tr>
                    <tr>
                        <td class="active font-blue-ebonyclay text-center bold" width="25%"> Estatus </td>
                        <td class="font-blue-ebonyclay text-center" width="25%">{{ model.estatus }}</td>
                        <td class="active font-blue-ebonyclay text-center bold" width="25%"> Monto </td>
                        <td class="font-blue-ebonyclay text-center" width="25%">{{ model.monto }}</td>
                    </tr>
                    <tr>
                        <td class="active font-blue-ebonyclay text-center bold" width="25%"> Saldo </td>
                        <td class="font-blue-ebonyclay text-center" width="25%">{{ model.saldo }}</td>
                        <td class="active font-blue-ebonyclay text-center bold" width="25%"> </td>
                        <td class="font-blue-ebonyclay text-center" width="25%"> </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>
{% if calendariopagos %}
<div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-calendar font-green-meadow"></i>
                <span class="caption-subject font-green-meadow bold uppercase">Calendario de Pagos cuenta: {{ model.id }}</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="panel-body">
                <table class="table table-striped table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="font-blue-ebonyclay text-center">Id</th>
                            <th class="active font-blue-ebonyclay text-center bold">Número de Pago</th>
                            <th class="font-blue-ebonyclay text-center">Monto</th>
                            <th class="active font-blue-ebonyclay text-center bold">Fecha Pago</th>
                            <th class="font-blue-ebonyclay text-center">Estatus</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for value in calendariopagos %}
                            <tr>
                                <td class="font-blue-ebonyclay text-center" width="25%">{{ value.id }}</td>
                                <td class="active font-blue-ebonyclay text-center bold" width="25%">{{ value.num_pago }}</td>
                                <td class="font-blue-ebonyclay text-center" width="25%">{{ value.monto }}</td>
                                <td class="active font-blue-ebonyclay text-center bold" width="25%">{{ value.fecha_pago }}</td>
                                <td class="font-blue-ebonyclay text-center" width="25%">{{ value.estatus }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
{% endif %}
{% if transacciones %}
<div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-random font-green-meadow"></i>
                <span class="caption-subject font-green-meadow bold uppercase">Transacciones de la cuenta: {{ model.id }}</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="panel-body">
                <table class="table table-striped table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="font-blue-ebonyclay text-center">Id</th>
                            <th class="active font-blue-ebonyclay text-center bold">Fecha</th>
                            <th class="font-blue-ebonyclay text-center">Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for value in transacciones %}
                            <tr>
                                <td class="font-blue-ebonyclay text-center" width="25%">{{ value.id }}</td>
                                <td class="active font-blue-ebonyclay text-center bold" width="25%">{{ value.fecha }}</td>
                                <td class="font-blue-ebonyclay text-center" width="25%">{{ value.monto }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
{% endif %}
{% include "layouts/footer.html" %}