{% include "layouts/header.html" %}
	<div class="col-md-12">
		<div class="panel panel-default">
	    	<div class="panel-heading"><b>Error 403</b></div>
	    	<div class="panel-body">
				<div class="alert alert-danger" align="center">
				        <b>No tienes permiso para acceder a esta ruta.</b>
				</div>
	    	</div>
		</div>
	</div>
{% include "layouts/footer.html" %}