{% include "layouts/header.html" %}
{% load humanize %}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{% url '/' %}">Inicio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'usuarios/index' %}">Listado de Usuarios</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'usuarios/view' id=model.id %}">Usuario: {{ model.username }}</a>
        </li>
    </ul>
</div>
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-user font-green-meadow"></i>
            <span class="caption-subject font-green-meadow bold uppercase">Datos de: {{ model.username }}</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="panel-body">

        	{% if messages %}
        	    {% for message in messages %}
        	        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        	    {% endfor %}
        	{% endif %}
            
            <div class="col-md-12 form-body">
                <div class="portlet-title">
                    <div class="caption font-grey-salsa">
                        <i class="fa fa-user font-green-meadow"></i>
                        <span class="caption-subject font-green-meadow bold uppercase">Información del Usuario</span>
                        <div align="right">
                            <b><a href="{% url 'usuarios/update' id=model.id %}" class="font-green-meadow"><i class="fa fa-refresh font-green-meadow"></i> Actualizar Información</a></b>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered table-condensed table-hover">
                <tbody>
                    <tr>
                        <td class="active font-blue-ebonyclay text-center bold" width="25%"> Nombre de usuario </td>
                        <td class="font-blue-ebonyclay text-center" width="25%">{{ model.username }}</td>
                        <td class="active font-blue-ebonyclay text-center bold" width="25%"> Correo </td>
                        <td class="font-blue-ebonyclay text-center" width="25%">{{ model.email }}</td>
                    </tr>
                    <tr>
                        <td class="active font-blue-ebonyclay text-center bold" width="25%"> Fecha Último Login </td>
                        <td class="font-blue-ebonyclay text-center" width="25%">{{ model.last_login }}</td>
                        <td class="active font-blue-ebonyclay text-center bold" width="25%"> Rol </td>
                        <td class="font-blue-ebonyclay text-center" width="25%">
                            {% if model.is_staff %}
                                Administrador
                            {% else %}
                                Usuario
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="active font-blue-ebonyclay text-center bold" width="25%"> Estatus </td>
                        <td class="font-blue-ebonyclay text-center" width="25%">
                            {% if model.is_active %}
                                Activo
                            {% else %}
                                Inactivo
                            {% endif %}
                        </td>
                        <td class="active font-blue-ebonyclay text-center bold" width="25%"> </td>
                        <td class="font-blue-ebonyclay text-center" width="25%">
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>

{% include "layouts/footer.html" %}