{% include "layouts/header.html" %}
{% load humanize %}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{% url '/' %}">Inicio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'clientes/index' %}">Listado de Clientes</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'clientes/update' id=model.id %}">Actualizar Cliente <i class="fa fa-user"></i></a>
        </li>
        
    </ul>
</div>
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-pencil font-green-meadow"></i>
            <span class="caption-subject font-green-meadow bold uppercase">Actualizar Cliente: {{ model.nombre }}<i class="fa fa-user"></i></span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="panel-body">
            <form method="POST" class="form">
                {% csrf_token %}
                <div class="panel-body">
                    <div class="row">
                        {% if messages %}
                            <div class="alert alert-danger">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ field.label }}  {{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}

                    </div>
                    <div class="form-group col-md-6">
                        <label for="select2-button-addons-single-input-group-sm" class="control-label">Nombre</label>
                        {{ form.nombre }}
                    </div>
                    <div class="form-group col-md-12">
                        <input class="btn btn-primary" type="submit" value="Actualizar">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% include "layouts/footer.html" %}