{% include "layouts/header.html" %}
{% load humanize %}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{% url '/' %}">Inicio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'clientes/index' %}">Listado de Usuarios</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'clientes/view' id=model.id %}">Usuario: {{ model.nombre }}</a>
        </li>
    </ul>
</div>
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-user font-green-meadow"></i>
            <span class="caption-subject font-green-meadow bold uppercase">Datos de: {{ model.nombre }}</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="panel-body">

        	{% if messages %}
        	    {% for message in messages %}
        	        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        	    {% endfor %}
        	{% endif %}
            
            <div class="col-md-12 form-body">
                <div class="portlet-title">
                    <div class="caption font-grey-salsa">
                        <i class="fa fa-user font-green-meadow"></i>
                        <span class="caption-subject font-green-meadow bold uppercase">Información del Usuario</span>
                        
                    </div>
                </div>
            </div>
            <br><br>
            <table class="table table-striped table-bordered table-condensed table-hover">
                <tbody>
                    <tr>
                        <td class="active font-blue-ebonyclay text-center bold" width="25%"> Id Cliente </td>
                        <td class="font-blue-ebonyclay text-center" width="25%">{{ model.id }}</td>
                        <td class="active font-blue-ebonyclay text-center bold" width="25%"> Nombre de Cliente </td>
                        <td class="font-blue-ebonyclay text-center" width="25%">{{ model.nombre }}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-users font-green-meadow"></i>
            <span class="caption-subject font-green-meadow bold uppercase">Grupos de: {{ model.nombre }}</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="panel-body">
            <br><br>
            <table class="table table-striped table-bordered table-condensed table-hover">
                <tbody>
                    {% for value in grupos %}
                        <tr>
                            <td class="active font-blue-ebonyclay text-center bold" width="50%"> Grupo </td>
                            <td class="font-blue-ebonyclay text-center" width="50%">{{ value.grupo_id }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>
</div>

{% include "layouts/footer.html" %}